In [1]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns

%precision 3

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

'%.3f'

### Homework 6

### Tasks


1. Read sections 5.2, 3.1-3.4, 5.1 from the ISLR book thoroughly.
    
2. Suppose we have a data set with five predictors, $X1 = \mathrm{GPA}$, $X2 = \mathrm{IQ}$, $X3 = \mathrm{Gender}$ (1 for Female and 0 for Male), $X4 = \mathrm{Interaction\ between\ GPA\ and\ IQ}$, and $X5 = \mathrm{Interaction\ between\ GPA\ and\ Gender}$. The response is starting salary after graduation (in thousands of dollars). Suppose we use least squares to fit the model, and get $\hat{\beta_0} = 50$, $\hat{\beta_1} = 20$, $\hat{\beta_2} = 0.07$, $\hat{\beta_3} = 35$, $\hat{\beta_4} = 0.01$, $\hat{\beta_5} = -10$.

    * Which answer is correct, and why?
        1. For a fixed value of IQ and GPA, males earn more on average than females.
        2. For a fixed value of IQ and GPA, females earn more on average than males.
        3. For a fixed value of IQ and GPA, males earn more on average than females provided that the GPA is high enough.
        4. For a fixed value of IQ and GPA, females earn more on average than males provided that the GPA is high enough.

    * Predict the salary of a female with IQ of 110 and a GPA of 4.0.

    * True or false: Since the coefficient for the GPA/IQ interaction term is very small, there is very little evidence of an interaction effect. Justify your answer.
     
3. For the titanic interaction model below
    * Compute the estimated survival probability for the first 2 rows in the Titanic data set "by hand" and compare with the predict function.
    * Explain the precise meaning of the first two coefficients of the linear model.
    * Test the hypothesis that being a third class passenger lowered the survival probability by as much as one half relative to 1st class, i.e. $H_0: \beta_{Pclass3} \leq  -0.5$.

In [2]:
#load data 
titanic = sns.load_dataset('titanic')
est = smf.ols('survived ~ age  + C(sex) +C(pclass) ', titanic).fit()
est.summary().tables[1]

#### Solution Problem 2

The least square line is given by
$$
\hat{y} = 50 + 20GPA + 0.07IQ + 35Gender + 0.01GPA\times IQ - 10GPA\times Gender
$$
which becomes for the males
$$
\hat{y} = 50 + 20GPA + 0.07IQ + 0.01GPA\times IQ,
$$
and for the females
$$
\hat{y} = 85 + 10GPA + 0.07IQ + 0.01GPA\times IQ.
$$
So the starting salary for males is higher than for females on average iff $50 + 20GPA\ge 85 + 10GPA$ which is equivalent to $GPA\ge 3.5$. Therefore C. is the right answer.


(b) Predict the salary of a female with IQ of 110 and a GPA of 4.0.

*It suffices to plug in the given values in the least square line for females given above and we obtain
$$
\hat{y} = 85 + 40 + 7.7 + 4.4 = 137.1,
$$
which gives us a starting salary of $137100\$$.*

(c) True or false: Since the coefficient for the GPA/IQ interaction term is very small, there is very little evidence of an interaction effect. Justify your answer.

*False. To verify if the GPA/IQ has an impact on the quality of the model we need to test the hypothesis $H_0 : \hat{\beta_4} = 0$ and look at the p-value associated with the $t$ or the $F$ statistic to draw a conclusion.*

#### Solution Problem 3

In [7]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
#1st passenger: male, age 22, third class
1.1250 - 0.4795 -0.4066 -0.0055*22

0.118

In [9]:
#2nd passenger: female, age 38, first class
1.1250 -0.0055*38

0.916

In [6]:
#https://www.statsmodels.org/dev/examples/notebooks/generated/predict.html
est.predict()[0:2]

array([0.119, 0.918])

The intercept $\beta_{0}$ gives the survival "probability" for a female, first class passenger with age 0.

$\beta_{1}$ gives the intercept/shift for a male passenger.

Test the hypothesis that being a third class passenger lowered the survival probability by as much as one half relative to 1st class, i.e. $H_0: \beta_{Pclass3} \leq  -0.5$.

Compute the test statistic:
$$
t = \frac{-0.4066 -(- 0.5)}{0.038} = 2.458
$$
We reject the Null hypothesis as this t score is larger than e.g. $z_{1 -\alpha} = z_{0.95} = 1.645$.